<section class="phx-hero">
  <h1>Cookbk</h1>
  <p>A website that helps you manage cooking several things at once.</p>
</section>

<span><%= link "Log In", to: Routes.session_path(@conn, :new) %></span>
<span><%= link "Sign Up", to: Routes.user_path(@conn, :new) %></span>
