<h1>Show Recipe</h1>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @recipe.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @recipe.description %>
  </li>

  <%= for step <- @recipe.recipe_steps do %>
    <span>A step!</span>
  <% end %>
</ul>

<span><%= link "Edit", to: Routes.user_recipe_path(@conn, :edit, @current_user, @recipe) %></span>
<span><%= link "Back", to: Routes.user_recipe_path(@conn, :index, @current_user) %></span>
